$transparent:transparent;
$white: #ffffff;
$dark-text: #212b36;
$blue-text: #498bdc;
$light-text:#acb3ba;

$header-background: rgba(255, 255, 255, 0.12);
$trial-backgrounf:#ffffff






 














